:root {
  --purple: #5035ff;
  --green: #59e391;
  --bg-body: #0b2434;
  --white: #fff;
  --tenz-color: #2b283a;
  --desc-color: #4a4e74;
  --karla: 'Karla', sans-serif;
  --inter: 'Inter', sans-serif;
  --bg-app: #f5f5f5;
}
body {
  scroll-behavior: smooth;
  background-color: var(--bg-body);
  font-family: var(--karla);
  color: var(--tenz-color);
  padding: 0;
  margin: 0;
  display: grid;
  place-content: center;
}

.App {
  background-color: var(--bg-app);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 25rem;
}

.header > h1 {
  font-weight: 700, bold;
  font-size: 1.6rem;
  text-align: center;
  margin: 10px 0 0 0;
}

.header > p {
  text-align: center;
  max-width: 75%;
  margin: 5px 0;
  font-size: 1rem;
  font-family: var(--inter);
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roll-btn {
  background-color: var(--purple);
  font-family: var(--karla);
  border: none;
  border-radius: 3.8px;
  color: var(--white);
  font-size: 1.1rem;
  min-width: 6.25rem;
  min-height: 2.8rem;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--white);
  color: var(--tenz-color);
  border-radius: 3.8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 1px;
}
.pip {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 2px;

  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, auto);
  gap: 20px;
  margin: 20px 0;
}

.rolls-counter {
  color: var(--purple);
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.bestRolls-counter {
  color: var(--purple);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.fourth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.fifth-face .pip:nth-child(2) {
  margin-top: 10px;
}
.sixth-face .column:nth-child(1) {
  margin-right: 7px;
}

.fourth-face .pip:nth-child(1) {
  margin-bottom: 5px;
}
.fourth-face .column:nth-child(1) {
  margin-right: 5px;
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
  transform: rotate(45deg);
}
.second-face .pip:nth-child(1) {
  margin-right: 8px;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: rotate(-45deg);
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}
.third-face .pip:nth-child(1),
.third-face .pip:nth-child(2) {
  margin-bottom: 5px;
}
